#top-bar {
    padding: 25px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    background: green;
}
.results, 
.side-bar {
   float: left;
}
.side-bar{
  width: 30%;
  border-right: 1px solid;
  margin-right: 10px;
}
.results{
  width: 68%;
}
.label-wrp{
  display: inline-block;
}
.result{
  border: 1px solid;
  padding: 3px 10px;
}
.range-input{
  display: inline-block;
  width: 45px;
}
.field-wrp-name-search input {
   width: calc(100% - 100px);
}
.main-and-advanced-wrp .advanced{
  display: none;
}
.main-and-advanced-wrp.opened .advanced{
  display: block;
}
.field-wrp-type-autocomplete > div {
    position: relative;
}
.autocomplete-item{
   min-width: 260px;
    padding: 9px;
}
.regular {
    background: #fff;
}
.highlighted {
    background: #e8e8e8;
}
.ns-wrapper{
  float: right;
  width: 29%;
  font-style: italic;
}
.label-wrapper{
  width: 70%;
}