/*.results,
.side-bar {
   float: left;
}*/
#side-bar {
    width: 25%;
    float: left;
    padding: 3em 2em;
    background: #f5f0e0;
}

.top-and-results-wrp {
    width: 74.5%;
    float: left;
}

.results{
  width: 68%;
}
.label-wrp{
  display: inline-block;
}
.result{
  border: 1px solid;
  padding: 3px 10px;
}
.range-input{
  display: inline-block;
  width: 45px;
  padding: 1px;
  margin: 0 6px;
  }

.main-and-advanced-wrp {
  overflow: hidden;
    .advanced{
    display: none;
    color: #8a8661;
    background: #fff;
    margin: 1em;
    padding: 1em;
    border: #d1cfc0 solid 1px;
   }
}
.main-and-advanced-wrp.opened .advanced{
  display: block;
}
.field-wrp-type-autocomplete > div {
    position: relative;
    max-width: 750px;
    margin: auto;
}
.main-and-advanced-wrp {
  button {
    float: right;
    background: #d1cfc0;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 3px;
    cursor: pointer;
    top: 0px;
    position: relative;
    margin-right: 16px;
    outline: 0;
  }
}
.field-wrp-name-search {
  > div > div {
    width: 100%;
  }
  input {
    width: 100%;
    padding: 11px 2em;
    height: auto;
    border-width: 2px;
    border-color: #d1cfc0;
    &:focus {
      border-color: #78c043;
    }
  }
   button {
    background: none;
    border: none;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 2px;
    top: 2px;
    color: #aaa78c;
    cursor: pointer;
    font-size: 21px;
    outline: 0;
  }
}
.autocomplete-item{
   min-width: 260px;
    padding: 9px;
}
.regular {
    background: #fff;
}
.highlighted {
    background: #e8e8e8;
}
.ns-wrapper{
  float: right;
  width: 29%;
  font-style: italic;
}
.label-wrapper{
  width: 70%;
}
.form-input.form-input-wrp-meta_table-duration {
    display: inline-block;
    padding-right: 1em;
}

.field-wrp-type-range > span {
  display: block;
}
.form-input.form-input-wrp-meta_table-duration_type {
    width: 25%;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}
.side-bar .checkbox-wrp {
    display: inline-block;
    padding: 0 3px;
    .far {
      position: relative;
        &:before {
        z-index: 1;
        position: relative;
        }
        &:after {
        background: #fff;
        content: "";
        width: 12px;
        display: block;
        position: absolute;
        height: 12px;
        top: 2px;
        left: 1px;
        z-index: 0;
        }
        &.fa-check-square:after {
          background: #78c043;
        }
    }
}
.checkbox-wrp input{
  display: none;
}
.checkbox-wrp .fa-square{
  margin: 0 3px;
}
.checkbox-wrp .fa-check-square {
    margin: 0 3px;
}
/* sidebar */
.field-wrp > span > label {
    font-weight: bold;
}
/* main namespace picker */
#top-bar {
    border-bottom: 2px solid #d1cfc0;
    margin: 0 10px 10px;
    z-index: 2;
    background: #fefdfa;
    top: 47px;
    padding-top: 1em;
    &.fixed {
      position: fixed;
      top: 47px;
      right: 60px;
    }
}

.side-bar .form-input {
    padding: 1em 0 .5em;
}

.form-input.form-input-wrp-namespace {
  margin: 1em auto 10px;
  max-width: 1070px;
}
.checking-sticky {
    height: 10px;
    margin: -10px;
}
.TopBar {
    .main {
      .checkbox-wrp {
        label {
          padding: 8px 8px 1px;
        }
      display: inline-block;
       > label > i {
        display: none;
      }
      &.selected {
            background: #dcdcdc;
            i {
                font-weight: bold;
            }
        }
        .checkbox-label {
        cursor: pointer;
        }
    }
  }
  .advanced .checkbox-wrp label {
    padding: 7px 1px 0px;
    font-size: 15px;
  }
}

.range-input{
  padding: 1px;
}
.field-wrp-type-select{
  .css-1hwfws3 {
      padding: 0 2px;
  }
  .css-1g6gooi {
      margin: 0;
      padding: 0;
  }
}

.autocomplete-wrp {
  > div, input {
    width: 100%;
  }
}


/* tags */
.lables-wrp {
    background: #f5f0e0;
    margin-top: 6px;
}

.label-remove {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #8a8660;
    font-size: 15px;
    top: 2px;
    position: relative;
}

span.label-wrp {
    padding: 3px 4px 4px 10px;
    font-weight: 700;
    margin: 6px 3px;
    font-size: 14px;
    color: #8a8660;
    background: #fff;
    border: #eee5c8 solid 1px;
    }


/*  results */
#results {
    padding: 0 10px;
}
