/*.results,
.side-bar {
   float: left;
}*/
#side-bar {
    width: 30%;
    float: left;
    padding: 1em 2em;
    background: #f5f0e0;
}

.top-and-results-wrp {
    width: 70%;
    float: left;
}

.results{
  width: 68%;
}
.label-wrp{
  display: inline-block;
}
.result{
  border: 1px solid;
  padding: 3px 10px;
}
.range-input{
  display: inline-block;
  width: 45px;
}
.field-wrp-name-search > div > div {
    width: 100%;
}
.field-wrp-name-search input{
  width: 98%;
}
.main-and-advanced-wrp .advanced{
  display: none;
}
.main-and-advanced-wrp.opened .advanced{
  display: block;
}
.field-wrp-type-autocomplete > div {
    position: relative;
    max-width: 750px;
    margin: auto;
}

.field-wrp-name-search button {
    background: none;
    border: none;
    width: 2em;
    height: 2em;
    position: absolute;
    left: 18px;
    top: 2px;
}
.autocomplete-item{
   min-width: 260px;
    padding: 9px;
}
.regular {
    background: #fff;
}
.highlighted {
    background: #e8e8e8;
}
.ns-wrapper{
  float: right;
  width: 29%;
  font-style: italic;
}
.label-wrapper{
  width: 70%;
}
.form-input.form-input-wrp-meta_table-duration {
    width: 64%;
    display: inline-block;
    font-size: 12px;
}
.form-input.form-input-wrp-meta_table-duration_type {
    width: 25%;
    display: inline-block;
    font-size: 12px;
}
.checkbox-wrp {
    display: inline-block;
    padding: 0 3px;
    .far {
      position: relative;
        &:before {
        z-index: 1;
        position: relative;
        }
        &:after {
        background: #fff;
        content: "";
        width: 12px;
        display: block;
        position: absolute;
        height: 12px;
        top: 2px;
        left: 1px;
        z-index: 0;
        }
        &.fa-check-square:after {
          background: #78c043;
        }
    }
}
.checkbox-wrp input{
  display: none;
}
.checkbox-wrp .fa-square{
  margin: 0 3px;
}
.checkbox-wrp .fa-check-square {
    margin: 0 3px;
}
/* sidebar */
.field-wrp > span > label {
    font-weight: bold;
}
/* main namespace picker */
#top-bar {
    border-bottom: 1px solid;
    margin: 0 10px 10px;
    z-index: 2;
    background: #fff;
    &.fixed {
      position: fixed;
      top: 47px;
      right: 60px;
    }
}

.form-input.form-input-wrp-namespace {
    margin-top: 1em;
}

.TopBar .main .checkbox-wrp > label > i {
    display: none;
}

.TopBar .checkbox-wrp.selected {
    background: #ececec;
}

.TopBar .main .checkbox-wrp.selected i {
    font-weight: bold;
}

.TopBar .checkbox-wrp label {
    padding: 8px 1em 1px;
}

.range-input{
  padding: 1px;
}
.field-wrp-type-select{
  .css-1hwfws3 {
      padding: 0 2px;
  }
  .css-1g6gooi {
      margin: 0;
      padding: 0;
  }
}


/* tags */
.lables-wrp {
    background: #f5f0e0;
    padding: 6px;
    margin-top: 6px;
}

.label-remove {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #8a8660;
    font-size: 15px;
    top: 2px;
    position: relative;
}

span.label-wrp {
    padding: 3px 4px 4px 10px;
    font-weight: 700;
    margin: 2px 3px;
    font-size: 14px;
    color: #8a8660;
    background: #fff;
    border: #eee5c8 solid 1px;
    }
