#top-bar {
    padding: 25px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    position: fixed;
}
/*.results,
.side-bar {
   float: left;
}*/
#side-bar {
    width: 30%;
    float: left;
}
.top-and-results-wrp {
    width: 70%;
    float: left;
}

.results{
  width: 68%;
}
.label-wrp{
  display: inline-block;
}
.result{
  border: 1px solid;
  padding: 3px 10px;
}
.range-input{
  display: inline-block;
  width: 45px;
}
.field-wrp-name-search > div > div {
    width: calc(100% - 100px);
}
.field-wrp-name-search input{
  width: 98%;
}
.main-and-advanced-wrp .advanced{
  display: none;
}
.main-and-advanced-wrp.opened .advanced{
  display: block;
}
.field-wrp-type-autocomplete > div {
    position: relative;
}
.autocomplete-item{
   min-width: 260px;
    padding: 9px;
}
.regular {
    background: #fff;
}
.highlighted {
    background: #e8e8e8;
}
.ns-wrapper{
  float: right;
  width: 29%;
  font-style: italic;
}
.label-wrapper{
  width: 70%;
}
.form-input.form-input-wrp-meta_table-duration {
    width: 64%;
    display: inline-block;
    font-size: 12px;
}
.form-input.form-input-wrp-meta_table-duration_type {
    width: 30%;
    display: inline-block;
    font-size: 12px;
}
.checkbox-wrp {
    display: inline-block;
    padding: 0 3px;
}
.checkbox-wrp input{
  display: none;
}
.checkbox-wrp .fa-square{
  margin: 0 3px;
}
.checkbox-wrp .fa-check-square {
    margin: 0 3px;
}
/* sidebar */
.field-wrp > span > label {
    font-weight: bold;
}
/* main namespace picker */
.form-input.form-input-wrp-namespace {
    margin-top: 1em;
}

.TopBar .main .checkbox-wrp > label > i {
    display: none;
}

.TopBar .checkbox-wrp.selected {
    background: #ececec;
}

.TopBar .main .checkbox-wrp.selected i {
    font-weight: bold;
}

.TopBar .checkbox-wrp label {
    padding: 8px 1em 1px;
}

.range-input{
  padding: 1px;
}

/* tags */
.label-remove {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #8a8660;
}

span.label-wrp {
    padding: 3px 10px 4px 4px;
    font-weight: 700;
    margin: 2px 3px;
    font-size: 14px;
    color: #8a8660;
    background: #fff;
    border: #eee5c8 solid 1px;
    }
