.App {
  direction: rtl;
  text-align: right;
}
.select {

    min-width: 250px;
    color: #000;
    text-align: right;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
